parameters:
	level: 8
	checkMissingIterableValueType: false
	paths:
		- src

	excludePaths:
	    analyse:
	        - ./vendor/*
	        - ./examples/*
	        - ./tests/*

	scanDirectories:
	    - ./vendor/